.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  height: 120vh;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.navbarList {
  width: 100%;
}

.navbarLink {
  color: #333;
  font-size: 2rem;
}
.navbarLink:hover {
  color: #444;
}

.form-control {
  padding: 20px;
  border-radius: 20px;
}

.form-control:focus {
  box-shadow: none;
}

.btn-mine {
  border-radius: 50%;
  padding: 18px 20px;
  color: #fff;
  border: none;
  background-color: #0c6;
}

.signInstead {
  color: #0c6;
}
.signInstead:hover {
  color: #0c6;
}

.loading {
  height: 100%;
  align-items: center;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-primary {
  background-color: #0c6;
  border: none;
  border-radius: 20px;
}

.btn-primary:hover {
  background-color: #0c6;
}
